@model TrustCare.Models.Homepage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Homepage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlideImageImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlideImageImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadingOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadingOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadingThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadingThree)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HomeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
