@model IEnumerable<TrustCare.Models.Homepage>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">HomePage</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlideImageImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadingOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadingThree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlideImageImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadingOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadingThree)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HomeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HomeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HomeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
    </div>
</div>